@import url('https://fonts.googleapis.com/css?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

body {
    background-color: #27374D;
}

.input-default div {
    color: #DDE6ED;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    padding-bottom: 5px;
}

.input-default input {
    width: 100%;
    height: 48px;
    border-radius: 8px;
    border: 1px solid #526D82;
    background: #9DB2BF;
    color: #27374D;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    padding: 10px;
}

.input-default input:focus {
    outline: 2px solid #9DB2BF;
}

.input-default input:disabled {
    opacity: 0.5;
}

.button-default {
    min-width: 50px;
    height: 38px;
    border-radius: 50px;
    background: #526D82;
    color: #DDE6ED;
    font-family: Inter;
    font-size: 14px;
    font-weight: 600;
    padding: 0px 25px;
    border: none;
    cursor: pointer;
}

.button-default:hover {
    opacity: 0.8;
}

.home {
    max-width: 750px;
    margin: 0 auto;
    padding-top: 67px;
}

.home .home_logo {
    text-align: center;
    margin-bottom: 46px;
}

.home .home_nickname {
    max-width: 380px;
    height: 150px;
    border-radius: 16px;
    border: 4px solid #526D82;
    background: #27374D;
    margin: 0 auto;
    padding: 35px;
}

.home .home_action {
    margin-top: 38px;
    width: 100%;
}

.game {
    max-width: 750px;
    margin: 0 auto;
    display: none;
}


.game .game_scoreboard {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: center;
    font-size: 80px;
    text-align: center;
    color: #DDE6ED;
    margin-top: 5%;
}

.game #table {
    border: 4px solid #9DB2BF;
    background-color: #526D82;
}

.game .game_score {
    display: flex;
    justify-content: space-between;
    margin-top: 36px;
    color: #526D82;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.game .game_score .game_score-p1 {
    width: 187px;
    height: 37px;
    background: #9DB2BF;
    border-radius: 0px 70px 0px 0px;
    display: flex;
    padding-top: 20px;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 30px;
}

.game .game_score .game_score-p2 {
    border-radius: 70px 0px 0px 0px;
    width: 187px;
    height: 37px;
    background: #9DB2BF;
    display: flex;
    padding-top: 20px;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 30px;
}

.waiting-for-player {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: #27374d6b;
    backdrop-filter: blur(3px);
}

.content {
    position: absolute;
    top: calc(50% - 100px);
    right: calc(50% - 100px);
    transform: translate(-50%, -50%);
    display: block;
  }
  
  .paddle{
    height:40px;
    width:3px;
    background-color:white;
    position:relative;
  }
  
  .player_one{
    left:-180px;
    animation: movePaddleOne 4s infinite;
  }
  
  .player_two{
    left:20px;
    animation: movePaddleTwo 4s infinite;
  }
  
  .ball{
    position:relative;
    height:5px;
    width:5px;
    border-radius:50%;
    background-color:white;
    animation: moveBall 4s infinite linear;
  }

  .waiting-for-player-text {
    position: absolute;
    width: 244px;
    left: -200px;
    font-size: 26px;
    top: 163px;
    color: white;
    font-family: "Pixelify Sans", sans-serif;
  }
  
  @keyframes movePaddleOne{
    0%, 100%{
      transform:translate(0px, 100px);
    }
    25%{
      transform:translate(0px, 0px);
    }
    50%{
      transform:translate(0px, 0px);
    }
    75%{
      transform:translate(0px, 100px);
    }
  }
  
  @keyframes movePaddleTwo{
    0%, 100%{
       transform:translate(0px,-50px);
    }
    25%{
         transform:translate(0px,10px); 
    }
    50%{
          transform:translate(0px,0px);
    }
    75%{
          transform:translate(0px,50px);
    } 
  }
  
  @keyframes moveBall{
     0%, 100%{
      transform:translate(-180px, 30px);
    }
    25%{
        transform:translate(18px, -25px);
    }
   50%{
       transform:translate(-180px, -55px);
    }
    75%{
      transform:translate(18px, 15px);
    }
  }